.search {
  position: absolute;
  left: 10%;
  top: 90%;
  width: 80%;

  form {
    display: flex;
    align-items: center;
    box-shadow: 10px 10px 15px 3px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    gap: 20px;
//flex-wrap: wrap;
    label {
      font-family: 'Poppins', sans-serif;
      margin-bottom: 10px;
    }

    input {
      background-color: rgba(217, 207, 207, 0.3);
      font-family: 'Poppins', sans-serif;
      border: none !important;
      outline: none !important;
      padding: 10px;
      width: 250px;
      border-radius: 6px;
      color: hsl(285, 90%, 12%)!important;
    }

    button {
      margin-top: 30px;
      width: 20%;
      padding: 5px;
      background-color: hsl(26, 93%, 50%);
      border-radius: 20px;
    }
  }
}