.header {
  font-family: 'Poppins', sans-serif;

  button {
    text-transform: none;
    color: white;
    border-radius: 20px;
    padding: 5px 25px !important;
  }

  button:hover {
    background-color: hsl(26, 93%, 50%);
    border: none;
  }

  .title-wrapper {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-around;

    h5 {
      color: white;
      font-size: 24px;

    }

    .list {
      display: flex;
      align-items: center;
      gap: 30px;

      ul {
        list-style: none;
        color: white;
        font-size: 16px;
        font-weight: 400;

        li {
          cursor: pointer;
        }
      }

    }


  }

  .text-wrapper {
    margin: 70px auto;
    display: flex;
    justify-content: center;
    color: white;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 36px;
    }

    .city {
      text-align: center;
      margin: 10px auto;

      p{
        color: hsl(285, 90%, 12%);
        font-weight: 600;
      }
    }
  }


}